ul{
    list-style: none;
    width:250px;
    margin: 0 0 0 0;
}

ul li{
    margin: 10px;
}

h1{
    font-family:verdana;
    font-size:18pt;
}

h1:hover{
    color:#7D1717;
    cursor:pointer;
}

h1.selected-year{
    color:#7D1717;
}

h2{
    font-family:verdana
}

p{
    font-family:verdana
}

.clear{
    clear:both;
}

svg{
    margin-left: 45px;
    float: left;
    margin-top:20px;
}

#navigation{
    float:left;
    margin: 10px;
}

#stats{
    float:left;
    margin-top: -25px;
}

#current{
    margin-top:20px;
    width:400px;
    float:left;
}